@tailwind base;
@tailwind components;
@tailwind utilities;

.loader {
    border-top-color: #3498db;
    -webkit-animation: spinner 1.5s linear infinite;
    animation: spinner 1.5s linear infinite;
}


@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.drop {
    animation: drop 1s ease-in-out;
}

@keyframes drop {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}
